*{
    margin: 0;
    padding: 0;

}

#projetosh1{
    margin: auto;
    
    
}

#containerProjetos1{
    text-align: center;
    margin-top: 100px;
    height: auto;
    width: auto;
   background-color: blue;
} 
.projetos{
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
}
.divprojetos{
    background-color: aqua;
    height: 250px;
    w
}