*{
    margin: 0;
    padding: 0;
    
}

#projetosh1{
    margin: auto;
    
    
}
#containerProjetos{
    margin-top: 25px;
    display: block;
}
#containerProjetos1{
    display: flex;
    background-color: blue;
    /* justify-content: flex-start; */
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    /* justify-items: center; */
    /* margin-top: 100px; */
    height: 100%;
    width: 100%;
    
    /* margin: auto; */
} 
.projetos{
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
}
.divprojetos{
    display: flex;

    /* text-align: center; */
    padding: 10px 6px 3px 3px;
    background-color: rgb(99, 101, 101);
    height: 210px;
    width: 450px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.112);
    border: solid;
}
.divprojetos:hover{
    display: flex;
    transition: 0.2s;
    /* text-align: center; */
    padding: 15px 11px 8px 8px;
    background-color: rgb(99, 101, 101);
    height: 230px;
    width: 460px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.112);
    border: solid;
}

#projetostext{
    height: 100px ;
    width: auto;
    display: flex;
    font-size: 200%;
    background-color: black;
    color: white;
}
.textoDoProjeto{
    margin: 20px 0px 0px 0px ;
    height: 180px ;
    width: 250px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.145);
    border: rgba(0, 0, 0, 0.257) 10px 10px  solid;
}