
*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 0 0 10px 0 ;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.365);
    
}
#titulo{
    display: flex;
    padding-top: 7px;
    padding-left: 10px;
    
    font-size: 20px;
    width: 100px;
}
.nav{
    display: flex;
    background-color: rgba(8, 8, 10, 0.184);
    height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
    margin: 5px 5px;
    border-radius: 7px;
}
.nav:hover{
    display: flex;
    background-color: rgba(3, 6, 188, 0.303);
    height: 60px;
    width: 110px;
    text-align: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 7px;
    transition: 0.2s;
}

a{
    margin: auto;
    text-decoration: none;
    color: black;
}
#container2{
    display: flex;
    
    
}