
*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.709);

}
#titulo{
    display: flex;
    padding-top: 7px;
    padding-left: 15px;
    
    font-size: 20px;
    width: 150px;
}
.nav{
    display: flex;
    background-color: blue;
    height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
    margin: 5px 5px;
    border-radius: 7px;
}
.nav:hover{
    display: flex;
    background-color: blue;
    height: 60px;
    width: 110px;
    text-align: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 7px;
    transition: 0.2s;
}

a{
    margin: auto;
}
#container2{
    display: flex;
    
    
}